<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Google Icon Font Import -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS Import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- local css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _scheme='https', _external=True) }}"
        type="text/css">

    <!-- Add Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', _scheme='https', _external=True) }}">

    <title>The Raffle</title>
</head>

{% if GMAPS_API %}

<body>

    {%else%}

    <body id="staticMap">
        {%endif%}

        <!-- Primary Header -->
        <header>
            <nav class="transparent-banner">
                <div class="nav-wrapper">

                    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i
                            class="material-icons">gps_fixed</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                       <li {% if active_page == "index" %} class="active" {% endif %}><a tabindex="-1"
                        href="{{ url_for('index') }}">Home</a></li>

                        
                        <li {% if active_page == "admin" %} class="active" {% endif %}><a tabindex="-1"
                                href="{{ url_for('admin') }}">Admin</a></li>

                        <li {% if active_page == "select" %} class="active" {% endif %}><a tabindex="-1"
                                href="{{ url_for('select') }}">Select</a></li>



       

                    </ul>

                    <a href="{{ url_for('index') }}" class="brand-logo center heading-font">Alzeimer's Raffle</a>


                    <a href="#helpModal" class="modal-trigger">
                        <i class="medium material-icons help-trigger button-glow white-text right tooltipped"
                            data-position="left" data-tooltip="Need help?">help_outline</i>
                    </a>
                </div>
            </nav>
        </header>

        <!-- Sidenav Header -->
        <section>
            <ul class="sidenav" id="mobile-sidenav">
                <li {% if active_page == "index" %} class="active" {% endif %}><a tabindex="-1"
                        href="{{ url_for('index') }}">Home</a></li>

                        <li {% if active_page == "admin" %} class="active" {% endif %}><a tabindex="-1"
                                href="{{ url_for('admin') }}">Admin</a></li>
               
                                                        <li {% if active_page == "select" %} class="active" {% endif %}><a tabindex="-1"
                                href="{{ url_for('select') }}">Select</a></li>
            </ul>

        </section>

        <!-- Main Block Content -->
        <main>
            {% block content %}
            {%endblock%}
        </main>


 


        <!-- Materialize JS Import -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- Javascript Initialisation Import -->
        <script src="{{ url_for('static', filename='js/init.js', _scheme='https', _external=True) }}"> </script>

        <!-- Javascript custom Toast Script Import -->
        <script src="{{ url_for('static', filename='js/toasts.js', _scheme='https', _external=True) }}"> </script>

        <!-- https://stackoverflow.com/questions/15321431/how-to-pass-a-list-from-python-by-jinja2-to-javascript -->
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            displayToast({{ messages | tojson | safe }})
        </script>
        {%endif%}
        {%endwith%}

        {% block scripts %}
        {% endblock %}

    </body>

</html>