{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<!-- Welcome Splash -->
<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <!-- Card Panel -->
               
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block helpmodal %}
<!-- Help Modal for Homepage -->
<h4 class="center">WYSPA</h4>

<p><strong>Wyspa Your Secrets, Publicly and Anonymously</strong></p>

<p>WYSPA has been designed to make every voice count. At a time when the world has been confined to their
    homes, it's important we continue to express ourselves and for everyone to be heard equally.</p>

<p>WYSPA allows you to <strong>Wyspa</strong> a message out into the world, completely anonymously.
    Feeling down? Want to get something off your chest? Or do you feel particularly happy, or proud of
    yourself at the minute? Then <strong>express yourself</strong>.</p>

<p>Want to listen to other people's Wyspas? Visit the <strong>messages</strong> tab to select a random Wyspa. This
    platform works best when we acknowledge we've listened to each other. When you visit a WYSPA, you can
    click the <strong>listen</strong> icon to aknowledge you've listened; this in turn makes the Wyspa more visible on
    the map.
    Fancy picking someone up? Supporting someone? Or just want to engage with a random stranger in the
    world? Then feel free to add a comment to a Wyspa.</p>

<p>While you can view Wyspas without making an account, you have to log in to
    <strong>listen</strong> to, <strong>comment</strong> on, and to <strong>create</strong> your own Wyspa.</p>

<p>Each page has its own help section. If you ever need any more information, just click the help icon
    again!</p>
{% endblock %}